@import 'src/styles/_vars.scss';


.mentions {
  margin-top: 4rem;
  padding:2rem;
  height: 63vh;

  & h1 {
      font-size: 2.5em;
      color: $dark-cerulean;
      text-align:center;
  }

  & p {
    width: 70%;
    margin: 2rem auto ;
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .mentions {
    margin-top: 0;
    padding: 2.5rem;
    height: 84vh;
  
    & h1 {
        font-size: 1.5em;
        color: $dark-cerulean;
    }
  
    & p {
      margin-top: 1rem;
      font-size: 0.9em;
    }
  }

}