@import 'src/styles/_vars.scss';



#app {
  background-color: $gainsboro;
  min-height:100%;
}

body {
  background-color: $gainsboro;
  min-height:100%;
}

// #app {
//   // font-size: 1.2em;
//   text-align: center;
//   // background-color: #F5F2EC;
//   margin:auto;
//   width:80%;
//   border:solid lightgray 0.5px;
//   height: 100vh;

// }